<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>My Team</title>
</head>
<body>
    <header class="header">
        <h1>My Team<span class="seo">seo</span>n</h1>

        var teammembersHtml="";

        for{
            <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="Manager">Manager</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="Engineer">Engineer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="Engineer">Engineer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="Engineer">Engineer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="Intern">Intern</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
        };
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Team Profile</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-5">
        <span class="navbar-brand mb-0 h1 w-100 text-center">Team Profile</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem">
                    <h5 class="card-header"><br /><br />Employee</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name</li>
                        <li class="list-group-item">ID 6939366</li>
                        <li class="list-group-item">Email:<p><a href="https://mail.google.com/mail/u/0/#inbox">yahmir.mcghee@gmail.com</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card mx-auto" style="width: 18rem">
                  <h5 class="card-header"><br /><br />Manager</h5>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Name</li>
                      <li class="list-group-item">ID 4002365</li>
                      <li class="list-group-item">Email:<p><a href="https://mail.google.com/mail/u/0/#inbox"> yahmir.coolguy@gmail.com</a></p></li>
                      <li class="list-group-item">Office Number: 74850</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mx-auto" style="width: 18rem">
                <h5 class="card-header"><br /><br />Engineer</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name</li>
                    <li class="list-group-item">ID 1103873</li>
                    <li class="list-group-item">Email:<p><a href="https://mail.google.com/mail/u/0/#inbox"> yahmir.curiousmind@gmail.com</a></p></li>
                    <li class="list-group-item">GitHub:<p><a href= https://github.com/McGhee01> McGhee01</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
          <div class="card mx-auto" style="width: 18rem">
              <h5 class="card-header"><br /><br />Intern</h5>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name</li>
                  <li class="list-group-item">ID 272585</li>
                  <li class="list-group-item">Email:<p><a href="https://mail.google.com/mail/u/0/#inbox"> yahmir.scholarinprogress@gmail.com</a></p></li>
                  <li class="list-group-item">School: Overbrook High School</li>
              </ul>
          </div>
      </div>
  </div>
</div>

</body>
</html>
